﻿@{
    ViewData[ "Title" ] = "Coletor";
}
<h2>@ViewData[ "Title" ].</h2>

@section Scripts
    {
    <link href="~/Content/loading.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-xs-8 col-sm-4">
    <h4>Entre com os dados para iniciar a coleta</h4>
        <form method="get" id="crawler-form">
            <div class="form-group">
                <label for="seed">Sementes</label>
                <textarea name="seeds" rows="7" class="form-control" id="seed" placeholder="Uma URL por linha"></textarea>
            </div>
            <div class="form-group">
                <label for="limit">Limite de htmls</label>
                <input name="limite" class="form-control" id="limit" placeholder="100">
            </div>
            <button type="submit" class="btn btn-primary">Iniciar</button>
            <input type="button" class="btn btn-primary" value="Limpar" onclick="location.href='@Url.Action("CleanCollection", "Home")'" />
            <input type="button" class="btn btn-primary" value="WT10G" onclick="location.href='@Url.Action("ColetarWT10G", "Home")'" />
        </form>
    </div>
    <div id="resultados" class="col-xs-4 col-sm-4">
        <h4>Resultados e estatisticas obtidas da ultima execucao</h4>
        <div class="form-group">
            <label for="ultimos-htlms">Quantidade de htmls atual</label>
            <input name="ultimoshtmls" class="form-control" id="ultimos-html" value=@ViewData["htmls"] readonly>
        </div>
        <div class="form-group">
            <label for="tempo-seed">Tempo total</label>
            <input class="form-control" id="tempo-seed" value=@ViewData["tempototal"] readonly>
        </div>
        <div class="form-group">
            <label for="urlspendentes">URLs pendentes</label>
            <input class="form-control" id="urlspendentes" value=@ViewData["urlspend"] readonly>
        </div>
        <div class="form-group">
            <label for="mediacoleta">Media de coleta</label>
            <input class="form-control" id="mediacoleta" value=@ViewData["media"] readonly>
        </div>
    </div>
    <div class="col-xs-8 col-sm-4">
        <div>
            <canvas id="myChart" width="450" height="450"></canvas>
        </div>
    </div>
</div>

<script>
    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };

    var color = Chart.helpers.color;
    window.onload = function () {
        var ctx = document.getElementById("myChart").getContext("2d");
        window.myLine = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                     @for (var i = 0; i < ( ViewData[ "grafico" ] as List<long> ).Count( ); i++) {
                         <text>"@{@i}m",</text>
                     }
                ],
                datasets: [{
                         label: "Documentos adquiridos",
                    backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                    borderColor: window.chartColors.blue,
                    fill: false,
                    data:[
                    @for (var i = 0; i < ( ViewData[ "grafico" ] as List<long> ).Count( ); i++) {
                           <text>
                        {
                                x: @i,
                                y: @{@(( ViewData[ "grafico" ] as List<long> ).ElementAt( i ))}
                        },
                        </text>

                    }

                    ],
                }]

            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: "Taxa de escrita"
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Tempo'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Documentos'
                        }
                    }]
                }
            }
        });
        window.myLine.update();
    };

</script>
