﻿@{
    ViewData[ "Title" ] = "Indexador";
}
<h2>@ViewData[ "Title" ].</h2>

@section Scripts
    {
    <link href="~/Content/loading.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-xs-8 col-sm-4">
        <div>
            <h4>Escolha a ação: </h4>
            <div class="control-group">
                <form method="get" id="indexer-form">
                    <button type="submit" style="width:120px;" class="btn btn-primary">Iniciar</button>
                    <input type="button" style="width:120px;" class="btn btn-primary" value="Limpar" onclick="location.href='@Url.Action( "CleanIndex", "Home" )'" />
                </form>
            </div>            
        </div>
        <div class="col-xs-12" style="height:50px;"></div>
        <div>
            <h4>Dados obtidos: </h4>
            <div class="form-group">
                <label for="tempo-gasto">Tempo gasto</label>
                <input class="form-control" id="tempo-gasto" value=@ViewData[ "tempo" ] readonly>
            </div>
            <div class="form-group">
                <label for="tamanho-vocabulario">Tamanho do vocabulario</label>
                <input class="form-control" id="tamanho-vocabulario" value=@ViewData[ "vocabulario-tamanho" ] readonly>
            </div>
            <div class="form-group">
                <label for="documentos-indexados">Coleção</label>
                <input class="form-control" id="documentos-indexados" value=@ViewData[ "colecao" ] readonly>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-xs-12">
        <h4>Indice invertido: </h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Vocabulario</th>
                        <th class="text-center">IDF</th>
                        <th class="text-center">Documentos</th>
                        <th class="col-xs-12">Lista de ocorrencias</th>
                    </tr>
                </thead>
                <tbody>
                    @{var triplas = ( ViewData[ "vocabulario" ] as BuscaAqui.Models.Vocabulary ).Tokens; }
                    @if (triplas.Count( ) > 0) {
                        @for (int i = 0; i < (triplas.Count() * 0.01); i++) {
                            var tripla = triplas.ElementAt( i );
                            var ii = ( ViewData[ "indice" ] as BuscaAqui.Models.InvertedIndex );
                            var pos = @ii.Search( tripla.Value );
                            var cont = 0;
                            if (pos != null) {
                                var concat = "";

                                var teste = "";
                                pos.List.ForEach( occ => {
                                    occ.WordPositions.ForEach( wp => teste = teste + wp.ToString( ) + ( occ.WordPositions.Last( ) != wp ? ", " : "" ) );
                                    concat = concat + occ.DocumentID + " (" + teste + ")" + ( pos.List.Last( ).DocumentID != occ.DocumentID ? "; " : "" );
                                    teste = "";
                                } );


                                <tr>
                                    <td>@tripla.Value</td>
                                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">@tripla.Key</td>
                                    <td>@pos.Idf</td>
                                    <td>@pos.List.Count</td>
                                    <td style="word-wrap: break-word;min-width: 100000000px;max-width: 100000000px;">@concat</td>
                                </tr>
                                if (cont >= 100) {
                                    break;
                                }
                                cont++;
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
