﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="centerBlock center-block">
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h1 style="text-align:center;">Busca Aqui</h1>
    <form method="get" id="pesquisa-form">
        <div class="form-group">
            <input name="query" list="sugg" class="form-control" id="query" style="width: 1000px; height:40px;" placeholder="Entre com o texto" >
            <datalist id="sugg"></datalist>
        </div>
        <div>
            <button type="submit" class="btn btn-primary center-block">Pesquisar</button>
        </div>
    </form>
</div>

<style>
    .centerBlock {
        display: table;
        margin: auto;
    }
</style>
<!--
<script>
function myFunction() {
    var x = document.getElementById("query");
    x.value = x.value.toUpperCase();
}
</script> str.split(" ").length
    -->
<script>
    $("#query").ready(function () {
        $("#query").on("input", function () {
            var text = $("#query").val();
            var n = text.split(" ");
            var word = n[n.length - 1];
            var lastIndex = text.lastIndexOf(" ");
            var finaltext = text.substring(0, lastIndex);
            var options = {};
            options.url = "/Home/AutoComplete";
            options.type = "GET";
            options.data = { "text": word };
            options.dataType = "json";
            options.success = function (data) {
                $("#sugg").empty();
                for (var i = 0; i < 10; i++) {
                    $("#sugg").append("<option value='" +
                        finaltext + " " + data[i] + "'></option>");
                }
            };
            $.ajax(options);
        });
    });
</script>

<!--
<script>
    var x = $('#query');
    $("#query").keyup(function () {
        var val = $('#query').val();
            $.ajax({
                url: "/Home/AutoComplete",
                type: "GET",
                data: { text: val }
            })
            .done(function(partialViewResult) {
                alert("Handler for .keyup() called.");
                //$("#refTable").html(partialViewResult);
            });
    });
</script>
<script type="text/javascript">
        var x = $('#query');
        $("#query").keyup(function ())({
            //source: '@Url.Action("AutoComplete","Home", new { id = "+ x +" } )',
            //minLength: 1
            alert('f')
    });

        $("#query").change(function())({
            alert('');
        });
</script>
-->