﻿@{
    ViewData[ "Title" ] = "Home Page";
}
 

<div class="center-block">
    <div class="lado-a-lado">
        <h3 style="text-align:center;">Busca Aqui</h3>
    </div>
    <div class="lado-a-lado">
        <form method="get" id="pesquisa-form">
            <br />
            <input name="query" list="sugg" class="form-control lado-a-lado" id="query" style="width: 1000px; height:30px;" placeholder="Entre com o texto" >
            <datalist id="sugg"></datalist>
            <button type="submit" class="btn btn-primary lado-a-lado">Pesquisar</button>
        </form>
    </div>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th>Melhores resultados</th>
            </tr>
        </thead>
        <tbody>
            @{var snippets = ( ViewData[ "snippets" ] as List<Tuple<string, string, string>> ); }
            @for (int i = 0; i < snippets.Count( ); i++) {
                var msg = new Microsoft.AspNetCore.Html.HtmlString( snippets.ElementAt( i ).Item2 );
                var title = new Microsoft.AspNetCore.Html.HtmlString( snippets.ElementAt( i ).Item1 );
                var url = snippets.ElementAt( i ).Item3;
                <tr>
                    <th scope="row">@(i+1)</th>
                    <td>
                        <a href="@url"><h4>@title</h4></a>
                        @msg
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .lado-a-lado {
        float: left;
        margin: 4px;
    }
</style>

<script>
    $("#query").ready(function () {
        $("#query").on("input", function () {
            var text = $("#query").val();
            var n = text.split(" ");
            var word = n[n.length - 1];
            var lastIndex = text.lastIndexOf(" ");
            var finaltext = text.substring(0, lastIndex);
            var options = {};
            options.url = "/Home/AutoComplete";
            options.type = "GET";
            options.data = { "text": word };
            options.dataType = "json";
            options.success = function (data) {
                $("#sugg").empty();
                for (var i = 0; i < 10; i++) {
                    $("#sugg").append("<option value='" +
                        finaltext + " " + data[i] + "'></option>");
                }
            };
            $.ajax(options);
        });
    });
</script>